a {
  width: "10";
  height: "10";
  color: white;
}

h4 {
  color: white;
}

.margen{
  margin-top:40px;
}

.margen2{
  margin-top:10px;
}

.centrado{
	margin:10px auto;
	display:block;
}

body {
  background-color: black;
}

h1 {
  font-size: 30px;
  color: white;
}


p {
  font-size: 15px;
  color: white;
}

i {
  color: white;
}

.carousel-inner img {
  width: 100%;
  max-height: 450px;
}

.carousel-inner{
height: 500px;
}

.carousel-caption h3 {
  color: #fff !important;
}

.card-img-top {
  width: 50%;
  height: 20vw;
  object-fit: cover;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}


